<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
    <% @posts.each do |post| %>
        <div class="card mb-3" style="width: 18rem;">
        <% if user_signed_in? %>
            <h6 class="card-subtitle mb-2 text-muted"><%= post.author %></h6>
        <% end %>
        <p class="card-text"><%= post.body %></p>
        </div>
    <% end %>
</div>
