<%= form_with model: @post do |form|%>
    <div class="col-md-3 mb-3">
        <%= form.label :body, :class => "form-label" %>
        <%= form.text_field :body, :class => "form-control"%> 
        <%= form.submit "Submit post", :class => "btn btn-primary"%>
    </div>
<% end %>